node_modules
package.json
package-lock.json
yarn.lock
tsconfig.json
.eslintrc.json
babel.config.js
example/babel.config.js
example/metro.config.js
example/webpack.config.js

dist
lib
build

.expo
.expo-shared

e2e
**/coverage
